$pink: #d2386c;
$pink-light: #d25680;
$pink-very-light: #d2567f21;
$sand: #d7d6ce;
$black: #4a494d;
$red: #dc3545;
$mini-text: 14px;
$medium-text: 20px;
$medium2-text: 25px;
$large-text: 30px;
$shadow: 0 0 4px 6px rgba(0, 0, 0, 0.25);

@mixin set-font-size($size, $px: 6px) {
	font-size: $size - $px;
}
